.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  container: columns / inline-size;
}

.columns.static {
  flex: 1;
  flex-wrap: nowrap;
  align-items: center;

  & > * {
    flex: 1 1 100%;

    &:last-of-type {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.columns.equal {
  & > * {
    flex: 1 1 auto;
  }
}

.columns.sidebar {
  & > * {
    flex: 1 1 auto;

    &:last-of-type {
      flex: 0 1 33%;

      @container columns (width < 720px) {
        flex: 1 1 100%;
      }
    }
  }
}
