.primary {
  --background: linear-gradient(45deg, var(--peach-100), var(--peach-150));
  --border: var(--peach-100);
  --text: #fff;
}

.secondary {
  --background: linear-gradient(45deg, var(--grey-125), var(--grey-150));
  --border: var(--grey-100);
  --text: var(--charcoal-100);
}

.buttonBase {
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: var(--background);
  border: 1px solid var(--border);
  color: var(--text);
  text-decoration: none;
  text-align: center;
  font-size: 0.95em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  &:hover {
    border: 1px solid hsl(from var(--border) h s calc(l * 0.8));
    filter: brightness(1.05);
  }

  &:active {
    border: 1px solid hsl(from var(--border) h s calc(l * 0.7));
  }
}
