.primary {
  --background: linear-gradient(45deg, var(--sky-75), var(--sky-100));
  --border: var(--sky-75);
  --text: var(--sky-50);
}

.secondary {
  --background: linear-gradient(45deg, var(--grey-125), var(--grey-150));
  --border: var(--grey-100);
  --text: var(--charcoal-100);
}

.danger {
  --background: linear-gradient(45deg, var(--peach-100), var(--peach-150));
  --border: var(--peach-100);
  --text: #fff;
}

.base {
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem 0.3rem;
  background: var(--background);
  border: 1px solid var(--border);
  color: var(--text);

  &:hover {
    border: 1px solid hsl(from var(--border) h s calc(l * 0.8));
  }

  &:active {
    border: 1px solid hsl(from var(--border) h s calc(l * 0.7));
  }
}
