@value card from "../card/card.module.css";
@value buttonBase from "../button/button.module.css";

.actions {
  list-style-type: none;
  grid-column: 1 / -1;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 0;
  margin: 0;

  li {
    display: contents;
  }
}

:global(.card) .actions {
  margin: 1rem -1rem -1rem;
  gap: 0;

  :global(.buttonBase) {
    border: none;
    border-radius: 0;
    display: flex;
    flex: 1 1 100%;
  }
}
